<!DOCTYPE html>

<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.location.base = [[${base}]];
    /*]]>*/
  </script>


  <base th:href="${ base + '/'}" />

  <title>Vireo :: University of Illinois Library</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="Electronic Thesis &amp; Dissertation Submission Workflow Tool" />

  <link rel="stylesheet" href="ng-sortable.min.css" />

  <link rel="stylesheet" th:href="${@environment.getProperty('app.url')+'/wro/app.css'}" />
  <link rel="stylesheet" href="//cdn.toolkit.illinois.edu/3/toolkit.css">
  <script type="module" src="//cdn.toolkit.illinois.edu/3/toolkit.js"></script>

</head>

<body>

  <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

  <!-- Content placed here will appear on every page -->
  <main>
    <header class="il-header">
              <ilw-header slot="header" menu="none">
                <a slot="primary-unit" href="https://www.grad.illinois.edu/">Graduate College</a>
                <a slot="site-name" href="/">Thesis & Dissertation Submission System</a>

              </ilw-header>
        </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid" ng-controller="ApplicationAuthenticationController">
        

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>

        <modal modal-id="verifyEmailModal" modal-view="views/modals/verifyEmailModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
        <modal modal-id="loginModal" modal-view="views/modals/loginModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>

        <div ng-if="isAnonymous()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <span href login-button>Login</span>
            </li>
            <li ng-if="registerEnabled" class="dropdown">
              <a href ng-click="openModal('#verifyEmailModal')">Register</a>
            </li>
          </ul>
        </div>

        <div ng-if="!isAnonymous()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle clickable" data-toggle="dropdown" aria-expanded="false">
                <displayname></displayname>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Profile</li>
                <li>
                  <a role="menuitem" href="myprofile">Profile</a>
                </li>
                <li>
                  <a role="menuitem" href="submission/history">Submission History</a>
                </li>
                <li ng-if="isAdmin() || isManager()" role="presentation" class="divider"></li>
                <li ng-if="isAdmin() || isManager()" role="presentation" class="dropdown-header">Manager Actions</li>
                <li ng-if="isAdmin() || isManager()">
                  <a role="menuitem" href="users">Manage Users</a>
                </li>

                <li ng-if="isAdmin() || isManager() || isReviewer()" role="presentation" class="divider"></li>
                <li ng-if="isAdmin() || isManager() || isReviewer()" role="presentation" class="dropdown-header">Admin Actions</li>
                <li ng-if="isAdmin() || isManager() || isReviewer()">
                  <a role="menuitem" href="admin/list">List</a>
                </li>
                <!--
                <li ng-if="isAdmin() || isManager() || isReviewer()">
                  <a role="menuitem" href="admin/log">Log</a>
                </li>
                -->
                <li ng-if="isAdmin() || isManager()">
                  <a role="menuitem" href="admin/settings">Settings</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                  <a role="menuitem" href ng-click="logout()">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <alerts types="WARNING, ERROR"></alerts>
    <alerts seconds="45" channels="auth/register" types="SUCCESS"></alerts>
    <alerts seconds="45" channels="organization/delete" types="SUCCESS"></alerts>

    <div class="container-fluid main" aria-live="assertive" aria-atomic="true">
      <div ng-view class="view"></div>
      <div class="container">Powered by Vireo <span app-version></span> &copy; 2025 <a href="http://www.tdl.org/">Texas Digital Library</a>. All Rights Reserved.</div>
    </div>
       <ilw-footer slot='footer'>
        <a slot="site-name" href="https://www.grad.illinois.edu/"><h3>Graduate College</h3></a>
        <address slot="address">
          <p>507 East Green Street<br>
            Suite 101, MC-434<br>
            Champaign, IL 61820</p>
            <p><br></p>
          <p>Phone: <a href="tel:+12173330035">217.333.0035</a></p>
          <p>Email: <a href="mailto:grad@illinois.edu">grad@illinois.edu</a></p>
          
        </address>
        <div slot="actions">
          <a href="https://grad.illinois.edu/giving">Make A Gift</a>
        </div>
        <nav slot="social" class="nav nav-custom-footer nav--footer" aria-label="Social media">
          <ul>
            <li><a data-service="facebook" href="https://www.facebook.com/GradCollegeIllinois">Facebook</a></li>        
            <li><a data-service="linkedin" href="https://www.linkedin.com/company/university-of-illinois-graduate-college">LinkedIn</a></li>
            <li><a data-service="youtube" href="https://www.youtube.com/user/GradCollegeIllinois">YouTube</a></li>
            <li><a data-service="instagram" href="https://www.instagram.com/gradcollegeillinois/">Instagram</a></li>
          </ul>
        </nav>
        <ilw-columns>
          <ilw-content theme="gray">
            <nav class="ilw-footer-menu" aria-labelledby="menu-1">
            <p class="ilw-heading" id="menu-1"><h4>Connect</h4></p>
              <ul>
              <li><a href="https://www.grad.illinois.edu/about/contact">Contact Us</a></li>
              <li><a href="https://www.grad.illinois.edu/directory">Staff Directory</a></li>
              <li><a href="https://www.grad.illinois.edu/about/contact-us/get-one-one-support">One-on-one Support</a></li>
              </ul>
              </nav>
            </ilw-content>
          <ilw-content theme="gray">
            <nav class="ilw-footer-menu" aria-labelledby="menu-2">
            <p class="ilw-heading" id="menu-2"><h4>Additional Resources</h4></p>
              <ul>
              <li><a href="https://www.grad.illinois.edu/academics/handbook-policies">Handbook & Policies</a></li>
              <li><a href="https://apps.grad.illinois.edu/grad_faculty/">Grad Faculty Database</a></li>
              <li><a href="https://www.grad.illinois.edu/faculty-staff/roles-and-authorization#using-the-graduate-college-roles-access-manager">Roles & Access Manager</a></li>
              </ul>
              </nav>
            </ilw-content>
          <ilw-content theme="gray">
            <nav class="ilw-footer-menu" aria-labelledby="menu-3">
            <p class="ilw-heading" id="menu-3"><h4>Quick Links</h4></p>
              <ul>
              <li><a href="https://www.grad.illinois.edu/academics/registration-and-records/petitions-and-record-requests/find-form">Find a Form</a></li>
              <li><a href="https://www.grad.illinois.edu/submit-form">Submit a Form</a></li>
              <li><a href="https://www.grad.illinois.edu/media/gradlinks">Publicize in GradLINKS</a></li>
              <li><a href="https://www.grad.illinois.edu/funding/assistantships/assistantship-clearinghouse">Post an Assistantship</a></li>
              <li><a href="https://www.grad.illinois.edu/about/contact-us/request-workshop">Request a Workshop</a></li>
              </ul>
              </nav>
            </ilw-content>
        </ilw-columns>
      </ilw-footer>
  </main>
  <script src="appConfig.js"></script>
  <script src="app.bundle.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] = function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');

  </script>

</body>

</html>
